
<!DOCTYPE html>
<html lang="en">
<head>
<title>News Clustering</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">

<link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet"  type='text/css'>

<link rel="stylesheet" type="text/css" href="../static/css/util.css">
<link rel="stylesheet" type="text/css" href="../static/css/main.css">
<body>
    <div class="container-contact100">
        <div class="wrap-contact100">
            <form class="contact100-form validate-form" method="POST" enctype="multipart/form-data">
                <span class="contact100-form-title">
                Upload Your Dataset
                </span>
                <div class="wrap-input100 validate-input bg1" data-validate="Please Type Your Name">
                    <span class="label-input100">Select your file (*.csv)</span>
                    <input class="input100" type="file" name="dataset" placeholder="File dataset">
                </div>
                
                <div class="container-contact100-form-btn">
                    <button class="contact100-form-btn">
                        <span>
                            Submit
                            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                        </span>
                    </button>
                </div>
            </form>
        </div>
    </div>
                 
        <script src="../static/js/jquery-3.6.4.min.js"></script>
        <script src="../static/js/bootstrap.min.js"></script>
</body>
</html>
